<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Configurações</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/qualquer.css">
</head>
<body class="d-container">
  <form method="POST" action="signin">

  <h1 class="text-center">Ajuda</h1>
  {% if sucesso %}
    <div class="alert alert-success">Informações atualizadas com sucesso.</div>
  {% endif %}
<!--    Centralizar div-->
    <div class="text-center"><br>
    <a class="btn btn-primary">Conta</a>
    </div >
    <div class="text-center"><br>
    <a class="btn btn-primary">Acessibilidade</a>
    </div >
    <div class="text-center"><br>
    <a class="btn btn-primary" >Problemas com viagens</a>
    </div ></br>
<!--    Centralizar div-->
    <div class="text-center">
          <a href="index">Página Inicial</a>
    </div>
  </form>
  </form>
</body>
</html>
