<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Configurações</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/qualquer.css">
</head>
<body class="d-container">
  <form method="POST" action="signin">

  <h1 class="text-center">Rota Definida</h1>
<!--    Centralizar div-->
    <div class="text-center"><br>
    <a class="btn btn-primary">Passageiro 1</a>
    </div >
    <div class="text-center"><br>
    <a class="btn btn-primary">Passageiro 2</a>
    </div >
    <div class="text-center"><br>
    <a class="btn btn-primary" >Passageiro 3</a>
    </div ></br>
      <div><br>
            <label for="valor">Valor da Viagem:</label>
            <input class="form-control" type="text" id="valor" name="valor" placeholder="Digite o valor aqui">
        </div>
    <div class="col-sm-4"><br>
            <a class="btn btn-primary" href="iniciando_viagem">Iniciar</a>
        </div>
<!--    Centralizar div-->
    <div class="text-center">
          <a href="index">Página Inicial</a>
    </div>
  </form>
  </form>
</body>
</html>
