{% extends "template.html" %}
{% block conteudo %}
<div>

<!--Botão para configurar perfil no canto direito em cima da tela-->

<!--        Botão para buscar local-->
<!--        Botão a direita-->
<!--        Botão para selecionar horário-->
<!--    Centralizar-->
    <div class="text-center">
                    <h1>Mensagens</h1>
        <div> Contatos: </div>
        <br>
        <a class="btn btn-primary pull-right">Davi</a>
        </br>
    <br>
        <a class="btn btn-primary pull-right">Julia</a>
        </br>
    <br>

    </div>
{% endblock %}
