{% extends "template.html" %}
{% block conteudo %}
<div>

<!--Botão para configurar perfil no canto direito em cima da tela-->

<!--        Botão para buscar local-->
<!--        Botão a direita-->
<!--        Botão para selecionar horário-->
<!--    Centralizar-->
    <div class="text-center">
                    <h1>Bem-vindo ao seu perfil!</h1>
        <br>
        <a class="btn btn-primary pull-right" href="ajuda">Ajuda</a>
        </br>
    <br>
        <a class="btn btn-primary pull-right" href="mensagens">Mensagens</a>
        </br>
    <br>
        <a class="btn btn-primary pull-right" href="configuracoes">Configurações</a>
        </br>

            <br>
        <a class="btn btn-primary pull-right" href="/">Sair</a>
        </br>
    </div>

    </div>
{% endblock %}
